/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
======================================== */

* {
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: hsla(50, 50%, 90%);
}

html {
    background-color: hsla(0, 0%, 10%, 1);
    width: 1903px;
}

nav img {
    width: 30px;
    display: flex;
    position: fixed;
    top: 10px;
    left: 20px;
}

nav ul {
    text-align: right;
    position: fixed;
    top: 15px;
    right: 20px;
    margin: 0px 25px;
    color: hsla(50, 50%, 90%);
}

nav{
    height: 100px;
    color:hsla(50, 50%, 90%);
    background-color: hsla(0, 0%, 10%, 1);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

nav li {
    display: inline;
    font-family: Arial, 'Times New Roman';
    font-weight: bold;
    margin: 0 10px 75px 0;
    color: hsla(50, 50%, 90%);
}
nav a {
    text-decoration: none;

}
nav a:hover {
    text-decoration:underline;
    color: hsl(360 50% 20%)
}

#welcome {
    width: 1903px;
    height: 950px;
    text-align: center;
    padding: 50px 0;
    background-image: url(../images/headerimg.jpg);
    background-size: cover;
}

#welcome h1 {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    margin: 100px;
    font-weight: 900;
    text-shadow: 3px 3px hsla(0, 0%, 10%, 1);
}

#welcome h1 span {
    font-family: 'Anton', sans-serif;
}


#aboutme {
    width: 1903px;
    height: 950px;
    text-align: justify;
    padding: 45px 0 0 0;
    background-image: url(../images/pexels-fwstudio-172277.jpg);
    background-size: cover;
}

#aboutme h2{
    color: hsla(0, 0%, 10%, 1);
    margin: 0 0 0 310px;
    padding: 160px 0 0 0;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px hsla(50, 100%, 100%);
}

#aboutme h3,
#aboutme h4 {
    color: hsla(0, 0%, 10%, 1);
    margin: 10px 0 0 310px;
    font-size: 28px;
    font-weight: 900;
    text-shadow: 2px 2px hsla(50, 100%, 100%);
}

#imgone {
    position: absolute;
    top: 1100px;
    right: 250px;
}

#aboutme p {
    width: 700px;
    height: 500px;
    position: relative;
    padding: 10px;
    color: hsla(0, 0%, 10%, 1);
    font-size: 20px;
    font-weight: 900;
    text-shadow: 2px 2px hsla(50, 100%, 100%);
    display: inline-block;
    margin: 15px 0 0 300px;
}

#gallery {
    width: 1903px;
    height: 900px;
    text-align: center;
    margin: 100px 0 0 0;
    padding: 50px;
}


article {
    width: 500px;
    display: inline-flex;
    padding: 150px 210px; 
    margin: 0;

}

#services {
    width: 100%;
    height: 900px;
    text-align: center;
    background-image: url(../images/pexels-fwstudio-172277.jpg);
    background-size: cover;
    padding-top: 70px;
    font-weight: 900;
    text-shadow: 2px 2px hsla(50, 100%, 100%);
}

#services h2 {
    color: hsla(0, 0%, 10%, 1);
    padding: 100px 0 0 0;
    font-size: 75px;
}
#services ul {
    display: inline-block;
    padding: 20px;
    margin: 100px 200px 0 200px;
    font-size: 50px;
    color: hsla(0, 0%, 10%, 1);
}

#services ul li {
    color: hsla(0, 0%, 10%, 1);
    padding: 25px;
    font-weight: 800;
}

#contact {
    width: 100%;
    height: 900px;
}